
.header {

}

.header__inner {
  padding: 30px 0;
  min-height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  margin-bottom: 35px;
}

.header .menu {
  margin-left: 85px;
}
.menu__list {
  display: flex;
  align-items: center;
  column-gap: 65px;
  font-weight: 400;
  font-size: 18px;
}

.user-actions {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.user-actions__item:last-child {
  margin-left: 80px;
}

.top {
  background-image: url('./../images/top-bg.jpg');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}
.top__inner {
  min-height: 500px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Cormorant", serif;
  color: #fff;
}
.top__title {
  max-width: 790px;
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 20px;
}
.top__text {
  max-width: 560px;
  font-size: 24px;
}

