
/* header */
.header__inner {
  padding: 30px 0;
  min-height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  margin-bottom: 35px;
}
.header .menu {
  margin-left: 85px;
}
.menu__list {
  display: flex;
  align-items: center;
  column-gap: 65px;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  z-index: 3;
}


/* user-actions */
.user-actions {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.user-actions__item:last-child {
  margin-left: 80px;
}

/* top */
.top {
  background-image: url('./../images/top-bg.jpg');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}
.top__inner {
  min-height: 500px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Cormorant", serif;
  color: #fff;
}
.top__title {
  max-width: 790px;
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 20px;
}
.top__text {
  max-width: 560px;
  font-size: 24px;
}


/* assortment */
.assortment {
  margin-bottom: 150px;
}
.assortment__list {
  display: flex;
  /* flex-wrap: wrap; */
  column-gap: 40px;
  text-align: center;
}
.assortment__img {
  max-width: 208px;
  width: 100%;
  max-height: 208px;
}
.assortment__name {
  padding-top: 10px;
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: 24px;
}

/* reviews */
.reviews {
  padding: 60px 0;
  background-color: #f7f2ea;
}
.reviews__list {
  display: flex;  
  justify-content: center;
  column-gap: 26px;
}
.reviews__item {
  flex-basis: 280px;
}
.reviews__text {
  font-style: italic;
  margin-bottom: 10px;
}
.reviews__name {
  font-weight: 600;
  font-size: 20px;
}